Django==1.11.8
PyMySQL==0.8.0
Whoosh==2.7.4
alipay==0.7.4
celery==4.1.0
django_celery==3.2.2
django-celery-results==1.0.1
django_haystack==2.8.1
django_redis==4.10.0
django-tinymce==2.7.0
itsdangerous==1.1.0
jieba==0.39
kombu==3.0.37
python_alipay_sdk==1.8.0
